.card-img-top {
  height: 200px;
  width: 100%;
}

.card {
  width: 25rem;
}

.featured-link {
  text-decoration: underline;
}

.card-body {
  background-color: #063852;
  color: white;
}

a,
a:hover,
a:visited {
  color: white;
}

#projects {
  background-color: #063852;
  font-family: 'Rubik', sans-serif;
}
