.fa-phone{
    font-size: 75px;
    color: #fff;
}

.fa-envelope{
    font-size: 75px;
    color: #fff;
}

#linkedin-logo{
    height: 75px;
    width: 75px;
}

#github-logo{
    height: 75px;
    width: 75px;
}

#connect{
    background-color: #011A27;
    font-family: 'Rubik', sans-serif;
}
h4{
    color: #fff;
}

h1{
    color: #fff;
}